@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
section {
    position: relative;
    padding: 60px;
    justify-content: space-between;
    align-items: center;
    background: white;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo {
    position: relative;
    max-width: 80px;
}
header ul {
    position: relative;
    display: flex;
}
header ul li {
    list-style: none;
}
header ul li a {
    display: inline;
    color: #333;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
}
header ul a {
    background: #DF6A02;
    border-radius: 40px;
    display: inline;
    color: white;
    font-weight: 500;
    font-size: 25px;
    text-decoration: none;
    letter-spacing: 1px;
    margin-top: 20px;
    padding: 7px 20px;
}
.estudio{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 100%;
    padding: 100px 0;
    position: relative;
    background: rgb(22,100,217);
    background: linear-gradient(0deg, rgba(22,100,217,1) 0%, rgba(43,224,244,1) 35%, rgba(255,255,255,1) 80%);
}
.content-container{
text-align: center;
}
.content-container h2{
    font-size: 60px;
    line-height: 70px;
    color: #000;
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
    text-shadow: 3px 3px 10px #000;
}
.grupo{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    padding: 0 40px;
}
.escuela-1{
    padding: 25px;
} 
.escuela-1 img{
    width: 600px;
    height: 500px;
    border-radius: 75px;
    
}
.escuela img{
    position: absolute;
    top: 0;
    right: 0;
}
.escuela-1 h3{
    color: #000;
    font-size: 20px;
    margin-bottom: 15px;
}
.go-top-container{
    position: fixed;
    bottom: 4rem;
    right: 4rem;
    width: 1.1rem;
    height: 1.1rem;
    z-index: -1;
}
.got-top-button{
    width: 0rem;
    height: 0rem;
    background: #4786E5;
    border-radius: 50%;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: .2s;
}
.got-top-button b{
    position: absolute;
    font-size: 1.7rem;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: #eff7cf;
    transition: .2s;
}
.show{
    z-index: 10;
}
.show .got-top-button{
    animation: popup .3s ease-in-out;
    width: 5rem;
    height: 5rem;
    z-index: 11;
}
.show b{
    transform: translate(-50%, -50%) scale(1);
}
@keyframes popup{
    0%{
        width: 0rem;
        height: 0rem;
    }
    50%{
        width: 6rem;
        height: 6rem;
    }
    100%{
        width: 5rem;
        height: 5rem;
    }
}